@font-face {
  font-family: "Valley Sans Pro";
  src: url("/fonts/valleysanspro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Valley Sans Pro";
  src: url("/fonts/valleysanspro-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Valley Sans Pro";
  src: url("/fonts/valleysanspro-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Valley Sans Pro";
  src: url("/fonts/valleysanspro-bolditalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  font-family: "Valley Sans Pro", ui-sans-serif, system-ui, sans-serif;
  color: #111;
  background-color: #fff;
}

a {
  transition: color 0.2s ease;
}
a:hover {
  color: #525252;   /* neutral-600 */
}
@keyframes blink {
  0%, 49% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}